.div{
    display: flex;
    flex-direction: column; 
}

.div *{
    padding-bottom: 10px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("https://wallpapercave.com/wp/wp2639568.jpg")

}

