.div{
    display: flex;
    flex-direction: column; 
    gap: 3vh;
    background-color: rgba(9, 9, 10, 0.68);
    padding: 20px;
}
.div span {
    color: antiquewhite;
}
.Button{
    background-color: rgba(55, 98, 76, 0.821);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("https://wallpapercave.com/wp/wp2639568.jpg")

}

