.div{
    display: flex;
    flex-direction: column; 
    
    color: rgb(0, 0, 0);
    box-shadow: 10px -11px 34px rgba(0, 93, 0, 0.8);
}
.div span {
    color: rgb(63, 57, 50);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("https://wallpapercave.com/wp/wp2639568.jpg")

}


