.mainDiv{
    display: flex;
    height: 100vh; 
    width: 100vw; 
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 10vh;
    
}
.mainDiv img{
    height: 100%;
    width: 100%;
    z-index: -1;
   
}
.intro{
    color: white;
    position: fixed;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10vw;
    background-color: rgba(0, 0, 0, 0.411);
}