
.mainDiv{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-70deg, #a53e3a57 10%,rgba(19, 18, 18, 0.033) 90%),
     url('https://images.unsplash.com/photo-1574680178050-55c6a6a96e0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');
}
.txt{
    color: white;
    font-size: 3vh;
}
.container{
    display: flex;
    justify-content: space-around;
    gap: 5vw;
    margin-right: 5vw;
    margin-top: 4vh;
}
.Footer{
    margin-top: 12vh;
    background-color: transparent;
}
.container2 {
    display: flex;
    justify-content: space-around;
    gap: 5vw;
    margin-left: 5vw;
    margin-top: 10vh;
}
.video{
    margin: 7vh 0 0 7vw; 

}
.video2{
    margin-right: 7vw;
}
iframe{
    width: 40vw;
    height: 44vh;
}


@media screen and (max-width: 1100px){
    .mainDiv{
        height: 1000px;  
    }
    .container2{
        margin-top: 10vh;
        margin-right: 3vw;
    }
    .video{
        margin-left: 3vw;
    }

}
@media screen and (max-width: 950px){
    .mainDiv{
        height: 1500px;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin-left: 3vw;
    }
    iframe {
        width: 80vw;
        height: 50vh;
    }
    .container2{
        display: flex;
        flex-direction: column;
    }
}
